<div id="team-builder">
    <div id="input_team">
        <div id="team-chosen" class="row">

        </div>
        <div id="member-input">
            <div>
                <input type="text" class="input-field" id="name-input" placeholder="Input name here..." />
                <button id="confirm-member">Add to the team</button>
            </div>
            <button id="confirm-team" class="not-ready">Need 3 more people</button>
        </div>
    </div>
    <div id="congrats_modal" class="card py-5 px-20 text-center" hidden>
        <h6 class="text-success">CONGRATULATIONS</h6>
        <h2>You've just assembled the greatest earth defender!</h2>
    </div>
</div>
